<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
    <form action="/home/add" method="post">

        <div class="mb-3">

            <input type="text" id="name" name="name" class="form-control form-control-lg"
                   placeholder="Name">
        </div>
        <div class="mb-3">

            <input type="password" id="password" name="password" class="form-control form-control-lg"
                   placeholder="Password">
        </div>
        <div class="mb-3">

            <input type="number" id="size" name="size" class="form-control form-control-lg"
                   placeholder="Size">
        </div>
        <!-- Submit button -->

        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="SEND"></input>
        </div>
    </form>
</body>
</html>